{% extends wrapper %}

{% block content %}
  <div class="main-content">
	
    <div class="container index-content">
        <article class="col-xs-12 col-sm-9 col-ml-9 cpl-lg-9">
        
        	{% include navigation %}
            
        	{% for post in news %}
	            <div class="one-posts">
	            	{% if post.logo is not empty %}
	                	<img src="/img/{{ post.logo }}" class="posts-img">
	                {% endif %}
	                <div class="posts-data">{{ post.date_posted | date("d/m") }}</div>
	                <div class="posts-title">{{ post.title }}</div>
	                <div class="posts-line"></div>
	                <div class="posts-text">
	                	<p>{{ post.body | raw }}</p>
	                </div>
	                <div class="posts-line"></div>
	                <div class="posts-share">
	                    <span style="font-size:80%;">Share:</span>
						<a style="cursor:pointer;" class="share-facebook" 
	                    	data-image-source="/img/{{ post.logo }}"
	                    	data-item-source="/news/{{ post.id }}"
	                    	data-item-title="{{ post.title }}"
	                    	onClick="shareFb(this)">
	                    </a>
	                    <a href="http://vk.com/share.php?url={{ settings.host_name }}/news/{{ post.id }}" target="_blank" class="share-twitter"></a>
	                </div>
	            </div>
	        {% endfor %}
        </article>
        
		{% include sidepanel %}
		
    </div>

	
</div>

{% endblock %}